[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pycodestyle = "*"
tox = "*"
pyflakes = "*"
coverage = "*"

[packages]
jsonschema = "*"
requests = "*"
responses = "*"
